---
import Layout from "@src/components/Layout.astro";
import { deleteDocument, addTagToDocument } from "@src/weaviate/crud";
import { getDocumentWithChunksById, getTagsForUser } from "@src/weaviate/query";
import { Debug } from "astro:components";

const documentId = Astro.params.id as string;

const documentExists = await getDocumentWithChunksById({ documentId });
if (!documentExists) {
    return new Response("Not found", { status: 404 });
}

let actionStatus = "";

if (Astro.request.method === "POST") {
    const formData = await Astro.request.formData();
    const action = formData.get("form-action") as string;

    if (action === "delete-document") {
        await deleteDocument({
            documentId,
        });

        return Astro.redirect("/");
    }

    if (action === "add-tag") {
        const tagId = formData.get("tag") as string;
        await addTagToDocument({
            documentId,
            tagId,
        });
        actionStatus = `Tag "${tagId}" added to document`;
    }
}

const document = await getDocumentWithChunksById({ documentId });
const userId = 1;
const tags = await getTagsForUser(userId);
---

<Layout title={`Document: ${document.filename}`}>
    <p><a href="/">Back to all documents</a></p>
    {actionStatus && <p class="status">{actionStatus}</p>}
    <h2>Summary</h2>
    {
        document.summary && (
            <>
                <pre>{document.summary}</pre>
                <form method="POST">
                    <button name="form-action" value="find-connections">
                        Find connections with other documents
                    </button>
                </form>
            </>
        )
    }
    <h2>Tags</h2>
    <ul>
        {
            document.hasTags.map((tag) => (
                <li>
                    <a href={`/tags/${tag._additional.id}`}>{tag.name}</a>
                </li>
            ))
        }
    </ul>
    <form method="POST">
        <fieldset>
            <legend>Add tag</legend>
            <select name="tag" id="add-tag-select">
                <option value="">Select tag</option>
                {tags.map((tag) => <option value={tag.id}>{tag.name}</option>)}
            </select>
            <a href="/tags/">Manage tags</a>
        </fieldset>
        <button name="form-action" value="add-tag">Add tag</button>
    </form>
    <h2>Chunks</h2>
    {
        document.hasChunks.map((chunk) => (
            <pre style="border: 1px solid black; margin-bottom: 0.5rem">
                {chunk.content}
            </pre>
        ))
    }
    <h2>Debug</h2>
    <Debug {document} />
    <form method="POST">
        <button name="form-action" value="delete-document"
            >Delete document</button
        >
    </form>
</Layout>

<style>
    textarea {
        width: 100%;
        height: 100px;
    }

    pre {
        white-space: pre-wrap;
    }

    .status {
        background-color: lightgreen;
        padding: 1rem;
    }
</style>
